.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    & a{
        text-decoration: none;
        &:hover{
            & .Genre-card{
                box-shadow: 4px 4px 4px orange;
                z-index: 10;
                & .label{
                    color: white;
                    border-bottom: 2px solid orange;
                }
            }
        }
    }
    & .Genre-card{
        cursor: pointer;
        margin: 20px;
        &>img{
            width: 150px;
            height: 150px;
            @media screen and (min-width: 480px) {
                width: 200px;
                height: 200px;
            }
            @media screen and (min-width: 768px) {
                width: 300px;
                height: 300px;
            }
        }
        & .label{
            text-align: center;
            font-family:cursive;
            color: black;
            letter-spacing: 1.5px;
            font-weight: 600;
            background-color: darkgray;
            margin-top: -4px;
            &>h2{
                margin: 0px;
            }
        }
    }
}